body.__chrome-extension-shades__ {
    filter: invert(70%) contrast(120%) sepia(100%) brightness(0.6);!important;
    background: #333!important;
}
body.__chrome-extension-shades__.__chrome-extension-shades__edit {
    transform: scale(0.6, 0.6);
    transform-origin: 6vmax 7vmax;
    box-shadow: 0vw 3vh 3vw rgba(0,0,0,0.7);
    background: #ffffff;
    transition: transform 0.3s ease;
    margin-bottom: 6vmax;
}
